<h1>Your Details</h1>
<p>Please complete your registration by filling in your details below. Note that the company shouldn't include the location as this is designed in the city field.</p>

<%= render 'form' %>

<%= link_to 'Back', profiles_path %>
